@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #29353f;
  color: #FFF5EE;
  /* color: #F0FFFF; */
}

.tilt-in-fwd-tl {
  -webkit-animation:tilt-in-fwd-tl .9s 
  cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tl .9s 
  cubic-bezier(.25,.46,.45,.94) both
}
