@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #29353f;
  color: #FFF5EE;
  min-height: 100vh;
  position: relative;
  display: flex;
  user-select: none;
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow: hidden; */
  /* color: #F0FFFF; */
}
.glassy {
  background: rgb(41, 53, 63, .3);
  backdrop-filter: blur(4px);
}


.light-up {
  backdrop-filter: blur(1px);
}

.light-up:hover {
  backdrop-filter: blur(10px) brightness(120%);
}

.social-icon-overlay,
.social-icon-two-overlay {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgb(186, 103, 200, .2);
  backdrop-filter: blur(1px) brightness(120%);
  filter: opacity(40%);
}

.social-icon-overlay:hover,
.social-icon-two-overlay:hover {
  backdrop-filter: brightness(150%);
}

.social-icon-overlay::before,
.social-icon-two-overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  transition: all .7s .1s;
}

.social-icon-overlay::before {
  width: 0;
  background: #9354A2;
}

.social-icon-two-overlay::after {
  height: 0;
  /* background:  rgb(186, 103, 200, .2); */
}

.social-icon-container {
  /* box-shadow: inset 3px 3px 4px #ccc; */
  overflow: hidden;
}

.social-icon-container:hover .social-icon-overlay::before {
  width: 100%;
}

.social-icon-container:hover .social-icon-two-overlay::after {
  height: 100%;
  background: #9354A2;
  backdrop-filter: blur(3px);
}

.inner-shadow {
  box-shadow: inset 0 1px 0 #4e5558,0 1px 3px #1a1a1a;
}

.inner-shadow:hover {
  box-shadow: inset 0 1px 0 #4e5558,0 1px 3px #1a1a1a;
}

.input-shadow {
  box-shadow: inset 2px 2px 1px #1716162f, 0 1px 3px #121111;
}

.btn-skeumorphic {
  box-shadow: inset 4px 4px 3px #1716162f, -2px 3px 3px #121111, inset -4px -4px 2px #1716162f;
  backdrop-filter: blur(1px);
}

.btn-skeumorphic:hover {
  backdrop-filter: blur(8px) brightness(120%);
  /* filter: brightness(120%) blur(-3px); */
}

.btn-skeumorphic:hover .rocket {
  filter: brightness(120%);
}

.project-container:hover .project-logo {
  width: 20%;
}

.text-stroke-tr {
  -webkit-text-stroke: 2px rgb(237, 216, 238, .04);
  color: transparent;
}

.rocket {
  transform: rotate(55deg);
}
.neumorphic {
  text-shadow: 1px 1px 1px #909BA0,
               1px 2px 1px #909BA0,
               1px 3px 1px #909BA0,
               1px 4px 1px #909BA0,
               1px 5px 1px #909BA0,
               1px 6px 1px #909BA0,
               1px 7px 1px #909BA0,
               1px 8px 1px #909BA0;
               letter-spacing: 2px;
               /* 1px 9px 1px #909BA0; */
               /* 1px 10px 1px #909BA0; */
  /* text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.7), -3px -3px 8px rgba(0, 0, 0, 0.2); */
}